body {
	margin: 0;
	background-image: url(../img/Layer-0.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.wrapper {
	width: 84%;
	margin: 0 8% 0 8%;
}
.header { 
	padding: 0.2% 8% 0% 8%;
	background-image: -ms-linear-gradient(top, #4A5761 0%, #404b54 100%);
	background-image: -moz-linear-gradient(top, #4A5761 0%, #404b54 100%); 
	background-image: -o-linear-gradient(top, #4A5761 0%, #404b54 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4A5761), color-stop(100, #404b54));
	background-image: -webkit-linear-gradient(top, #4A5761 0%, #404b54 100%);
	background-image: linear-gradient(to bottom, #4A5761 0%, #404b54 100%);
	margin-bottom: 2%;
}
.sait_name {
	font-size: 1vw;
	float: left;
	line-height: 280%;
	margin: 0;
	font-family: "Arial", Georgia, Serif;
	color: #ffffff;
	font-weight: bold;
}
.nav_cont {
	float: right;
	width: 25%;
}
.nav_cont ul {
	float: right;
	width: 100%;
	list-style: none;
	margin: 0;
 	padding: 3.6% 0 6.0% 0;
}
.nav_cont ul li {
	float: right;
	font-size: .95vw;
	margin: 0 0%;
	padding: 0 5%;
	font-family: "Arial", Georgia, Serif;
	font-weight: bold;
	color: #ffffff;
	cursor: pointer;
}
.nav_cont ul li:nth-child(2) {
	border-right: 0.1vw solid #343f47;
	padding-left: 1.5%;
}
.nav_cont ul li:nth-child(1) {
	border-left: 0.1vw solid #737d85;
	padding-right: 0;
	padding-left: 1%;
}
.ac_name {
	padding: 0;
	margin: 0;
}
.logout_img {
	background: url(../img/logout.png) no-repeat 50% 50%;
	background-size: cover;
	width: 0.6vw;
	height: 0.6vw;
	display: block;
	float: left;
	margin: 0.2vw 0.6vw;
}
.mail_img {
	background: url(../img/mail.png) no-repeat 50% 50%;
	background-size: cover;
	width: 1.3vw;
	height: 0.8vw;
	display: block;
	float: left;
	margin: 0.1vw 0.3vw;
}
.content_block {
	width: 69.15%;
	float: left;
	background-color: #f3f3f3;
	border-radius: 0.4vw;
}
.cntant_name {
	background-color: #f3f3f3;
	margin: 0;
	padding: 3.6% 5.6% 1.2% 5.6%;
	border-radius: 0.4vw 0.4vw 0 0;
	border-bottom: 0.1vw solid #e0e0e0;	
}
.cntant_name p {
	font-size: 1.65vw;
	font-family: "Arial", Georgia, Serif;
	color: #666666;
	font-weight: bold;
	margin: 0;
}
.main_text {
	padding: 3.6% 5% 1.2% 5.6%;
	margin: 0 0 1vw 0;
	font-family: "Arial", Georgia, Serif;
}
.list_cont {
	width: 18.66%;
	float: right;
	background-color: rgba(71,90,106,0.6);
	border-radius: 0.2vw;
}
.list {
	list-style: none;
	padding: 0% 0 0% 0;
	margin: 0;
}

.list li:hover {
	background-color: rgba(75,94,109,0.6);
}
.list li a {
	text-decoration: none;
	font-family: "Arial", Georgia, Serif;
	padding: 0;
	display: block;
	margin: 4.9% 7%;
	font-size: 1vw;

	font-weight: bold;
	color: #c1e3ff;
}
.main_text {
	font-size: 1.1vw;
}