body {
	margin: 0;
	background-image: url(../img/Layer-0.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
.wrapper {
	width: 84%;
	margin: 0 8% 0 8%;
}
.header {
	min-height: 39px; 
	padding: 0 8% 0 8%;
	background-image: -ms-linear-gradient(top, #4A5761 0%, #404b54 100%);
	background-image: -moz-linear-gradient(top, #4A5761 0%, #404b54 100%); 
	background-image: -o-linear-gradient(top, #4A5761 0%, #404b54 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4A5761), color-stop(100, #404b54));
	background-image: -webkit-linear-gradient(top, #4A5761 0%, #404b54 100%);
	background-image: linear-gradient(to bottom, #4A5761 0%, #404b54 100%);
	margin-bottom: 25px;
}
.sait_name {
	font-size: 14px;
	float: left;
	line-height: 280%;
	margin: 0;
	font-family: "Arial", Georgia, Serif;
	color: #ffffff;
	font-weight: bold;
}
.nav_cont {
	float: right;
}
.nav_cont ul {
	list-style: none;
	margin: 10px 0 13px 0;
 	padding: 0;
}
.nav_cont ul li {
	float: left;
	font-size: 14px;
	padding: 0 15px;
	font-family: "Arial", Georgia, Serif;
	font-weight: bold;
	color: #ffffff;
}
.nav_cont ul li:nth-child(2) {
	border-right: 1px solid #343f47;
}
.nav_cont ul li:nth-child(3) {
	border-left: 1px solid #737d85;
}
.ac_name {
	padding: 0;
	margin: 0;
}
.forum_cont {
	width: 69.15%;
	
}
.content_block {
	width: 100%;
	min-height: 517px;
	padding-bottom: 30px;
	float: left;
	background-color: #f3f3f3;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.contant_name {
	background-color: #f3f3f3;
	margin: 0;
	padding: 25px 38px 10px 38px;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #e0e0e0;	
}
.contant_name p {
	font-size: 14px;
	font-family: "Arial", Georgia, Serif;
	color: #666666;
	font-weight: bold;
	margin: 0;
}
.forum_nav {
		
}
.forum_nav_cont {
	list-style: none;
	padding: 0 0 0 20px;
	margin: 0;
}
.forum_tab {
	float: left;
	padding: 16px 1px 12px 8px;
	position: relative;
}
.forum_tab a:hover {
	color: #bbcddc;
}
.forum_tab:active::before {
	content: ''; 
  position: absolute; 
  left: 41%;
  bottom: 0px; 
  border: 8px solid transparent;
  border-bottom: 8px solid #737373;
	opacity: .3;
}
.forum_tab:hover::after, .forum_tab:active::after {
	content: ''; 
  position: absolute; 
  left: 38%;
  bottom: 0px; 
  border: 9px solid transparent;
  border-bottom: 9px solid #f3f3f3;
}
.forum_tab a {
	text-decoration: none;
	font-size: 14px;
	font-family: "Arial", Georgia, Serif;
	color: #ffffff;
	font-weight: bold;	
	text-shadow: 0px 0.5px 0px rgba(80, 94, 106, 1);
}
.message_indicatr {
	visibility: hidden;
	font-size: 10px;
	padding: 3px 5px;
	border-radius: 50% 50% 50% 0;
	background: #bed37f;
	color: #5f7172;
	text-shadow: 0.5px 0.5px 1px rgba(250, 250, 250, 1);
	position: relative;
	top: -10px;
	-webkit-box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0.5px 0.5px 1px 0px rgba(0,0,0,0.75);
	box-shadow: 0.5px 0.5px 1px 0px rgba(0,0,0,0.75);
}
.forum_nav_cont li:nth-child(1) .message_indicatr {
	visibility: visible;
}
.forum_setting {
	float: right;
	padding-right: 30px;
	padding-left: 10px;
}
.setting_icon {
	width: 15px;
	height: 16px;
	margin: 0 5px;
	background: url(../img/Shape-15.png) no-repeat 50% 50%;
	float: left;
	position: relative;
	bottom: -3px;
}
.overview_block {
	background-color: #f3f3f3;
	min-height: 117px;
}
.active_stories_name {
	background-color: #f3f3f3;
	margin: 0;
	padding: 25px 38px 10px 38px;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #e0e0e0;	
}
.active_stories_name p {
	font-size: 14px;
	font-family: "Arial", Georgia, Serif;
	color: #666666;
	font-weight: bold;
	margin: 0;
}
.stories_block {
	border-top: 1px solid #ffffff;	
	border-bottom: 1px solid #e9e9e9;
	padding: 15px 59px 15px 36px;
	position: relative;
}

/*--- stories block ---*/
.stories_block >  input + .resize_cont {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	left: 36px;
	overflow: hidden;
	z-index: 1;
}
.stories_block >  input:checked + .resize_cont {
	width: 228px;
	height: 194px;
	top: 2px;
	left: 23px;
	padding: 12px;
	border: 1px solid #ababab;
	background: #f9fbd9;
	border-radius: 2px;
	color: #666666;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	font-size: 12px;
	font-family: "Arial", Georgia, Serif;
	font-weight: bold;
	padding-bottom: 12px;
	z-index: 10;
}
.short_inform_block {
	padding: 5px 0;
	margin-bottom: 10px;
}
.deys_statistic {
	float: left;
	margin-right: 10px;
}
.raiting_block {
	background: #5ec8d2;
	width: 91px;
	height: 46px;
	float: right;
	text-align: center;
	color: #ffffff;
	font-size: 41px;
	font-weight: 100;
	padding: 4px 10px;
	margin: 1px;
}
.autor_link_block {
	display: block;
	text-align: right;
}
.autor_link_block a {
	display: block;
	margin: 7px 0;
	color: #6689a6; 
}
.avatar_frame {
	width: 40px;
	height: 40px;
	background-color: #ffffff;
	float: left;
	margin: 0 16px 0px 0;
	padding: 4px;
	border: 1px solid #d0dfec;
	border-radius: 1px;
}
.avatar {
	width: 40px;
	height: 40px;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
}
.message_cont {
	width: 89.5%;
	float: left;
	margin-left: 70px;
}
.information_line {
	font-size: 12px;
	font-family: "Arial", Georgia, Serif;
	font-weight: bold;
	padding-bottom: 12px;
}
.autor_name {
	color: #6689a6;
	cursor: pointer;
	margin: 0 2px 0 0;
} 
.type_mess {
	color: #b5b5b5; 
	font-style: normal;
}
.calendar_icon {
	background: url(../img/calendar-icon.png) no-repeat 50% 50%;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	display: inline-block;
}
.information_line time { 
	color: #6689a6;
}
.days_amount {
	color: #666666;
	font-style: normal;	
}
.autor_status {
	color: #666666;
	font-style: normal;	
}
.status {
	color: #ffffff;
	font-style: normal;
	padding: 4px 6px;
	border-radius: 3px;
	margin-left: 5px;
}
.yellow_status {
	background-color: #fcca00;
}
.blue_status {
	background-color: #5ec8d2;
}
.green_status {
	background-color: #abd25e;
}
.messege_block {
	background: #e9f3fb;
	border: 1px solid #d0dfec;
	font-size: 12px;
	font-family: "Arial", Georgia, Serif;
	font-weight: bold;
	padding: 4px 10px;
	border-radius: 3px;
	position: relative;
}
.messege_block::before {
	content: ''; 
  position: absolute; 
  left: 32px;
  top: -17px; 
  border: 9px solid transparent;
  border-bottom: 8px solid #d0dfec;
}
.messege_block::after {
	content: ''; 
  position: absolute; 
  left: 31px;
  top: -17px;
  border: 10px solid transparent;
  border-bottom: 9px solid #e9f3fb;
}
.messege_text {
	color: #666666;
	display: inline-block;
	margin: 0 2px 0 0;
	padding: 0;
}
.messege_block time {
	margin: 0 5px;
	color: #999999;
	font-weight: normal;
}
.answer_link {
	background: #f4f8fc;
	border-left: 1px solid #d0dfec;
	text-decoration: none;
	color: #6689a6;
	padding: 4px 10px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;	
}
.answer_link i { 
	width: 15px;
	height: 13px;
	background: url(../img/massage-icon.png) no-repeat 50% 50%;
	display: block;
	float: left;
	margin: 0 4px 0 0;
}